{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">User login</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Please login below</p>
{% endblock %}

{% block body %}
    {{ form_start(loginForm) }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_row(loginForm.email) }}
    {{ form_row(loginForm.password) }}
    {{ form_errors(loginForm) }}
    <button class="btn btn-primary">Login</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(loginForm) }}
{% endblock %}
