{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">User registration</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Please register below</p>
{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {{ form_errors(registrationForm) }}
    <button class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
