{% extends 'base.html.twig' %}

{% block title %}TaxTim cinema | Online bookings{% endblock %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">My bookings</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Booking information displayed below</p>
{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-md-12 col-lg-12" style="text-align: center;">
            <table class="table">
                <thead class="thead-dark">
                <tr class="table100-head">
                    <th scope="col" class="column1">Email</th>
                    <th scope="col" class="column2">Film</th>
                    <th scope="col" class="column3">Tickets reserved</th>
                    <th scope="col" class="column4">Reference number</th>
                    <th scope="col" class="column5">Start time</th>
                    <th scope="col" class="column6">End time</th>
                    <th scope="col" class="column7">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td class="column1">{{ username }}</td>
                        <td class="column2">
                            {% for film in booking.films %}
                                {{ film.name }}
                            {% endfor %}
                        </td>
                        <td class="column3">{{ booking.totalTickets }}</td>
                        <td class="column4">{{ booking.referenceNumber }}</td>
                        <td class="column5">
                            {% for film in booking.films %}
                                {{ film.start_time }}
                            {% endfor %}
                        </td>
                        <td class="column6">
                            {% for film in booking.films %}
                                {{ film.end_time }}
                            {% endfor %}
                        </td>
                        <td class="column7">
                            <form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
