{% extends 'base.html.twig' %}

{% block title %}TaxTim cinema | Online bookings{% endblock %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">Film selection</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Please select the film you would like to see</p>
{% endblock %}

{% block body %}
    <div class="row mb-5">
        {% for film in films %}
            <div class="col-md-6 col-lg-6" style="text-align: center;">

                <h4 style="margin-bottom: 20px;">{{ film.name }}</h4>

                <div class="portfolio-item mx-auto">
                    <a href="{{ path('booking_tickets', {'film_id':film.id}) }}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <img class="img-fluid" src="http://marktnorman.com/wp-content/uploads/2019/06/popcorn.png" alt="">
                </div>

                <h4>Film details</h4>
                <ul style="list-style: none; padding: 0;">
                    <li><span>{{ film.name }}</span></li>
                    <li><span>Start: {{ film.starttime|date('H:m') }}</span></li>
                    <li><span>End: {{ film.endtime|date('H:m') }}</span></li>
                    <li><span>Tickets remaining: {{ film.availabletickets }}</span></li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
