{% extends 'base.html.twig' %}

{% block title %}TaxTim cinema | Online bookings{% endblock %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">Welcome to TaxTim Cinema</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Please select your desired cinema below</p>
{% endblock %}

{% block body %}
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cinema's</h2>
    <div class="divider-custom mb-5">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="http://marktnorman.com/wp-content/uploads/2019/06/cinema-1.jpg" alt="">
            </div>
        </div>

        <div class="col-md-6 col-lg-6">
            <div class="portfolio-item mx-auto">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">
                        <i class="fas fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="http://marktnorman.com/wp-content/uploads/2019/06/cinema-2.jpg" alt="">
            </div>
        </div>
    </div>
{% endblock %}
