{% extends 'base.html.twig' %}

{% block title %}TaxTim cinema | Online bookings{% endblock %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">Theatre selection</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Please select your desired theatre below</p>
{% endblock %}

{% block body %}
    <div class="row mb-5">
        {% for theatre in theatres %}
            <div class="col-md-6 col-lg-6" style="text-align: center;">

                <h4 style="margin-bottom: 20px;">{{theatre.name}}</h4>

                <div class="portfolio-item mx-auto">
                    <a href="{{ path('booking_film', {'theatre_id':theatre.id}) }}">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                    </a>
                    <img class="img-fluid" src="http://marktnorman.com/wp-content/uploads/2019/06/stage.png" alt="">
                </div>

                <h4>Now showing</h4>
                <ul style="list-style: none; padding: 0;">
                    {% for film in theatre.films %}
                        <li><span>{{ film.name }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
