{% extends 'base.html.twig' %}

{% block title %}TaxTim cinema | Online bookings{% endblock %}

{% block header %}
    <h1 class="masthead-heading text-uppercase mb-0">Seat selection</h1>

    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <p class="masthead-subheading font-weight-light mb-0">Please select the amount of tickets / seats</p>
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_start(bookingForm) }}
        {{ form_row(bookingForm.totalTickets) }}
        <button class="btn btn-primary">Reserve</button>
        {{ form_end(bookingForm) }}
    {% else %}
        <p>Sorry but you need to be registered in order to book, please register <a href="{{ path('app_register') }}">here</a>
        </p>
    {% endif %}
{% endblock %}
